<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="applicable-device" content="pc"/>
    <title>笑话大全_最新搞笑图片_爆笑冷笑话_有家笑话</title>
    <meta name="description" content="有家笑话网，与千万笑友一起分享最新最热的爆笑笑话、搞笑图片、动态图、冷笑话、糗事笑话、成人笑话、经典笑话、内涵段子等笑话大全。" />
    <meta name="keywords" content="笑话,搞笑图片,冷笑话,有家笑话" />
    <link rel="stylesheet" type="text/css" href="css/indexb6f1.css" />
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
    <script type="text/javascript" src="js/jquery-1.8.0.js"></script>
    <script type="text/javascript" src="js/ujiajoke.js"></script>
    <script type="text/javascript" src="js/bootstrap-paginator.min.js"></script>
</head>
<body>
<!--头部信息开始-->
<div class="header" th:fragment="index_header">
    <!--标题开始-->
    <div class="header-top">
        <div class="header-top-content"  th:with="logged=${#authentication.getName() ne 'anonymousUser'}">
            <p class="header-top-title">加入有家笑话，成为有家一族，成就快乐家族！</p>
            <div id="islogin" class="islogin" th:if="${logged eq false}">
                <a href="register.html" class="top-reg" target="_blank" rel="nofollow">注册</a>
                <a href="login.html" class="top-login" rel="nofollow">登录</a>
            </div>
            <div class="islogin" th:if="${logged eq true}">
                <div class="my-center">
                    <i title="个人中心"></i>
                    <ul>
                        <li><a href="myJoke.html">我的投稿</a></li>
                        <li><a href="myVipJoke.html">VIP专题</a></li>
                        <li><a href="profile.html">个人资料</a></li>
                        <li><a href="inviteFriends.html">邀请好友</a></li>
                        <li class="noborder"><a href="logout.html" rel="nofollow">退出</a></li>
                    </ul>
                </div>
                <div class="my-message">
                    <a href="recommended.html" target="_blank"><i class="message-new" title="精品推荐"></i></a>
                </div>
                <span class="username-top"><a href="profile.html" th:text="${#authentication.getName()}">JackAn</a>，欢迎回来!</span>
            </div>
        </div>
    </div>
    <!--标题结束-->
    <!--导航菜单开始-->
    <div class="header-nav">
        <div class="logo"><a href="index.html"><h1>笑话</h1></a></div>
        <ul>
          <li><a href="index.html" th:class="${type eq 0?'hover':''}" class="hover" title="按热门程度排序">首页</a></li>
            <li><a href="jiongtu.html" th:class="${type eq 1?'hover':''}" title="按时间先后排序">囧图</a></li>
            <li><a href="qiushi.html" th:class="${type eq 2?'hover':''}" >糗事</a></li>
            <li><a href="neihan.html" th:href="@{neihan.html}" th:class="${type eq 3?'hover':''}" >内涵图</a></li>
            <li><a href="vip/vip_index.html" th:class="${type eq 4?'hover':''}" >会员专享<i></i></a></li>
        </ul>
        <div class="mahua-slogan"></div>
    </div>
    <!--导航菜单结束-->
</div>
<!--头部信息结束-->
<!--主要内容开始-->
<div class="main">
    <!--左侧信息开始-->
	<div class="left">
		<!-- 轮播开始-->
		<div class="list-top-focus" id="listTopFocus">
            <ul th:with="list=${@adService.getTopAdList(5,1)}">
                <li th:each="us:${list}">
                    <a href="topic/2.html" th:href="${us.adUrl}" target="_blank" class="f_img_668_150">
                        <img src="img/logo.png" alt="有家笑话" th:src="${us.adPhoto}" th:alt="${us.adTitle}" />
                        <span th:text="${us.adTitle}">一起赚笑币，赢取iPhone6！</span>
                    </a>
                </li>
            </ul>
		</div>
        <!--轮播结束-->	
        <!-- 笑话列表开始 -->
		<dl class="mahua" id="joke_905491" mahua="905491" th:each="page :${pages}">
			<dt>
				<a th:href="@{'/'+${page.userInfo.uid}+'/userCenter.html'}" target="_blank"><img src="img/toux.jpg" th:src="${page.userInfo.photo}" th:title="${'经验值'+page.userInfo.experience}"/><i></i></a>
				<p class="joke-uname"><a th:href="@{'/'+${page.userInfo.uid}+'/userCenter.html'}" th:text="${page.userInfo.name}">你丫才是逗比</a><a href="about/shengjiguize.html" target="_blank" th:text="${'家族级别：'+page.userInfo.level}">实习生</a></p>
				<span class="joke-title"><a th:href="@{'/'+${page.jid}+'/jokeDetail.html'}" th:text="${page.title}" target="_blank">这个破打印机什么状况？</a></span>
			</dt>
            <dd class="content">
                <img th:if="${page.style eq 1}" th:src="${page.picture}" src="img/12.jpg" alt="【桃姐淘新闻】北京马拉松看醉众人" />
                <span th:if="${page.style eq 2}" th:text="${page.content}"></span>
            </dd>
			<!-- 神回复  -->
            <dd class="operation">
                <a href="javascript:void(0)" rel="nofollow" class="ding" title="顶"><img src="img/ding.png" /><i th:text="${page.up}">0</i></a>
                <a href="javascript:void(0)" rel="nofollow" class="cai" title="踩"><img src="img/cai.png" /><i th:text="${page.down}">0</i></a>
                <a href="javascript:void(0)" rel="nofollow" class="comment commentClick" title="点评一下" th:name="${page.jid}"><img src="img/comment.png" /><i>点评一下</i></a>
                <div class="share">
                    <a class="share-ico" title="分享" href="javascript:void(0)" rel="nofollow"></a>
                    <div class="share-btn">
                        <span>分享到：</span>
                        <a href="#" th:href="@{share.html(type=1,jid=${page.jid},flag=0)}" target="_blank" class="share-qzone" data-cmd="qzone" title="分享到QQ空间" rel="nofollow">QQ空间</a>
                        <a href="#" th:href="@{share.html(type=2,jid=${page.jid},flag=0)}" target="_blank" class="share-tqq" data-cmd="tqq" title="分享到腾讯微博" rel="nofollow">腾讯微博</a>
                        <a href="#" th:href="@{share.html(type=3,jid=${page.jid},flag=0)}" target="_blank" class="share-tsina" data-cmd="tsina" title="分享到新浪微博" rel="nofollow">新浪微博</a>
                        <a href="#" th:href="@{share.html(type=4,jid=${page.jid},flag=0)}" target="_blank" class="share-sqq" data-cmd="sqq" title="分享到QQ好友" rel="nofollow">QQ好友</a>
                        <a href="#" rel="nofollow" class="share-copy" title="复制网址" data-cmd="copy" th:name="'http://10.0.3.73:10012/'+${page.jid}+'/jokeDetail.html'">复制网址</a>
                    </div>
                </div>
                <div class="reward-box"></div>
            </dd>
         </dl>
		<!-- 分页 -->
        <div class="pagination pagination-right">
            <div id="example" style="float: left;"></div>
            <script th:inline="javascript">
                /*<![CDATA[*/
                $(function () {
                    var totalPages = /*[[${pages.totalPages}]]*/1;
                    var newPage = /*[[${newPage}]]*/1;
                    $.ajaxSetup({
                        cache: false
                    });
                    var options = {
                        currentPage: newPage,
                        totalPages: totalPages,
                        onPageClicked: function (e, originalEvent, type, page) {
                            window.location.href = "index.html?page=" + page ;
                        }
                    }
                    $('#example').bootstrapPaginator(options);
                })
                function goPage(){
                    var pageValue=$('#page').val();
                    if(!isNaN(pageValue) && parseInt(pageValue)>0){
                        if(parseInt(pageValue) == 1){
                            window.location.href = "index.html";
                        }else{
                            window.location.href = "index.html?page=" + pageValue;
                        }
                    }else{
                        alert('请输入正确的页码');
                    }
                }
                /*]]>*/
            </script>
            <div class="go-page" data-maxPage="1000">
                <input id="page" placeholder="跳到.." type="text" title="跳到.."/><a href="javascript:void(0);" onclick="goPage();">GO</a>
            </div>
        </div>
	</div>
    <!--左侧信息结束-->
    <!--右侧信息开始-->
	<div class="right" id="main-right" th:fragment="index_right">
		<!-- 用户信息 -->
		<ul class="user-operation" id="user-show-ajax">
            <li class="user-show" th:if="${#authentication.getName() eq 'anonymousUser'}">
               <dl class="right-top-avatar">
                <a href="login.html" class="right-login-web loginClick">点击登录</a>
                </dl>
            </li>
            <li class="user-show" th:if="${#authentication.getName() ne 'anonymousUser'}">
                <div class="right-top-avatar-a">
                    <a href="profile.html" target="_blank">
                        <img alt="JackAn" src="img/avatar_2.jpg" />
                    </a>
                    <a href="#" target="_blank"><em>修改头像</em></a>
                </div>
                <dl class="right-top-avatar">
                    <dt><a href="profile.html" target="_blank">JackAn</a><p></p>
                    </dt><dd class="noborder">经验值：<em>500</em></dd>
                    <dd>等级：实习生</dd>
                    <dd class="noborder">积分：<em>0</em></dd>
                    <dd>投稿量：0</dd>
                </dl>
            </li>
            <li class="user-btn">
                <div class="publish-audit">
                    <a href="#" th:href="@{releaseJoke.html}" class="publish" target="_blank" rel="nofollow"><i></i><span>投稿</span></a>
                    <a href="javascript:alert(1);" class="audit" target="_blank" rel="nofollow"><i></i><span>审稿</span></a>
                </div>
            </li>
            <li class="user-operation-bottom">
                <a href="javascript:alert(1);" rel="nofollow" class="checkin-right-top checkinClick"><span>每日签到<br/>赚笑币</span></a>
                <a href="#" th:href="@{recommended.html}" class="do-task" target="_blank" rel="nofollow"><span>做任务<br/>赚笑币</span></a>
                <a href="#" th:href="@{inviteFriends.html}" class="friends" target="_blank" rel="nofollow"><span>邀请好友<br/>赚笑币</span></a>
            </li>
		</ul>
        <dl class="tags-list"><dt><h2>猜你喜欢</h2></dt>
            <dd th:with="list=${@typeInfoServiceImpl.getTopTypeInfoList(10,1)}">
                <a th:each="us:${list}" target="_blank" href="#" th:href="@{otherJoke.html(page=1,type=2,value=${us.typeName})}" th:text="${us.typeName}">美女</a>
            </dd>
        </dl>
        <div style="margin-top:20px;width:300px;height:250px">
            <img src="img/ad.png" />
        </div>
		 <!--精彩文字笑话-->
         <dl class="new-pic-text" th:with="list=${@jokeService.getTopJokeList(15,2)}">
            <dt>
              <a href="#" th:href="@{otherJoke.html(page=1,type=1)}" target="_blank"><h2>精彩文字笑话</h2></a><a href="#" th:href="@{otherJoke.html(page=1,type=1)}" target="_blank" class="more">更多</a>
            </dt>
            <dd th:each="us:${list}">
                <a target="_blank" class="title" href="detail/jokedetail.html" th:href="@{'/'+${us.jid}+'/jokeDetail.html'}" th:text="${us.title}">那谁的表情才是搞笑</a>
            </dd>
         </dl>
         <!-- 广告位 -->
         <div style="margin-top:20px;width:300px;height:250px">
             <img src="img/ad.png" />
         </div>
		<!-- 最新搞笑图片 -->
        <dl class="new-pic" th:with="list=${@jokeService.getTopJokeList(10,1)}">
            <dt><a href="#" target="_blank"><h2>精彩搞笑图片</h2></a><a href="#" target="_blank" class="more">更多</a></dt>
            <dd>
                <a target="_blank" href="detail/jokedetail.html" th:href="@{'/'+${us.jid}+'/jokeDetail.html'}" th:each="us,stats:${list}" th:class="${stats.odd?'':'new-pic-left'}">
                    <img alt="贪吃动物们的糗事" src="img/11.gif" th:alt="${us.title}" th:src="${us.picture}"/>
                    <span th:text="${us.title}">贪吃动物们的糗事</span>
                </a>
             </dd>
        </dl>
        <!-- 客户端下载 -->
        <div class="platform">
            <div class="platform-mobilePhone-web">
                <img src="img/erweima.png" alt="m.mahua.com"/>
                <p class="title">扫二维码，用手机看笑话</p>
            </div>
            <ul class="platform-other">
                <li class="app-android"><a href="javascript:alert('拼命研发中');" rel="nofollow" target="_blank">安装Android 手机客户端</a></li>
            </ul>
        </div>
        <!-- 广告位 -->
        <div style="margin-top:20px;width:300px;height:250px" id="rightad">
            <img src="img/ad.png" />
        </div>
        <div style="margin-top:20px;width:300px;height:250px">
            <img src="img/ad.png" />
        </div>
	</div>
	<!--右侧信息结束-->
</div>
<!--主要内容结束-->
<script type="text/javascript">
$(function(){
	joke_content_area();
});
</script>
<!--右侧导航开始-->
<div id="fixed-box">
	<div class="feedback">
		<a href="about/fankuiyijian.html" target="_blank" title="新版建议反馈"></a>
	</div>
	<div class="return-top">
		<a href="javascript:void(0);" rel="nofollow" title="返回顶部"></a>
	</div>
</div>
<!--右侧导航结束-->
<!---友情链接开始-->
<div class="links-block" th:with="list=${@adService.getTopAdList(20,2)}">
    <div class="links-list-block">
        <div class="likes-title">友情链接：</div>
        <div class="links" id="links_list">
            <div class="likes-list">
                <a target="_blank" href="http://www.baidu.com" th:each="us:${list}" th:text="${us.adTitle}" th:href="${us.adUrl}">小说</a>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    rolling_y('links_list',50,3000)
    function rolling_y(id, height, rolltime) {
        h = height,
                tnode = document.getElementById(id),
                scrollID = id + '_v',
                F_rad = scrollID + '_f',
                F_o = scrollID + '_o',
                F_rol = rolltime,
                F_t = scrollID + '_t',
                _ = Function;
        _('if(typeof ' + F_t + ' !=="undefined"){clearTimeout(' + F_t + ')}')();
        _(scrollID + '=0;' + F_rad + '=function(){}')();
        _('with(' + F_o + '=tnode){innerHTML+=innerHTML;onmouseover=_(\'' + scrollID + '=1\');onmouseout=_(\'' + scrollID + '=0\')}')();
        _('(' + F_rad + '=_(("if(#%' + h + '||!' + scrollID + ')#++,#%=' + F_o + '.scrollHeight>>1;' + F_t + '=setTimeout(' + F_rad + ',#%' + h + '?10:' + F_rol + ');").replace(/#/g,"' + F_o + '.scrollTop")))()')()
    }
</script>
<!---友情链接结束-->
<!--底部内容开始-->
<div class="footer" th:fragment="index_footer">
    <div class="footer-content">
        <div class="about">
            <dl>
                <dt>关于快乐家族</dt>
                <dd><a href="about/youjiajianjie.html" target="_blank">家族简介</a><a href="about/youjiagonggao.html" target="_blank">家族公告</a></dd>
                <dd><a href="about/mianzeshengming.html" target="_blank">免责声明</a><a href="about/fankuiyijian.html" target="_blank" class="a-color-red">反馈意见</a></dd>
            </dl>
            <dl>
                <dt>互动规则</dt>
                <dd><a href="about/tougaoguize.html" target="_blank">投稿规则</a><a href="about/shengaoguize.html" target="_blank">审稿规则</a></dd>
                <dd><a href="about/shengjiguize.html" target="_blank">升级规则</a><a href="about/xiaobiguize.html" target="_blank">笑币规则</a></dd>
            </dl>
            <dl>
                <dt>关注</dt>
                <dd><a href="javascript:alert('暂未开通');" target="_blank" class="footer-weibo" rel="nofollow">新浪微博</a><a href="javascript:alert('暂未开通');" target="_blank" class="footer-qzone" rel="nofollow">QQ空间</a></dd>
                <dd><a href="javascript:alert('暂未开通');" target="_blank" class="footer-QQweibo" rel="nofollow">腾讯微博</a><a href="javascript:alert('暂未开通');" target="_blank" class="footer-weixin" rel="nofollow" style="color: #03a8b1;">官方微站</a></dd>
            </dl>
            <dl class="about-contact">
                <dt>有家合作</dt>
                <dd>合作：youjiaxiaohua@163.com</dd>
            </dl>
        </div>
        <div class="coypright">
            <p>Copyright 2014-2024 youjiaxiaohua.com 版权所有 京ICP备13039142号-1 京ICP证130395号</p>
        </div>
    </div>
</div>
<!--底部内容结束-->
<!--[if IE 6]>
	<script>document.execCommand("BackgroundImageCache",false,true)</script>
<![endif]-->
<script th:inline="javascript">
    /*<![CDATA[*/
    $('.comment-submit').live('click',function(){
        var content = $(this).parent().children(":first").val();
        content = $.trim(content);
        if(content==""){
            alert("评论内容不能为空!");
        }else{
            $.ajax({
                url:"addComment.html",
                data: {"email":$(this).attr("name"),"jid":$(this).attr("id"),"content":content},
                type: "GET",
                dataType:"text",
                timeout:18000,
                success:function(data){
                    if(data == "2"){
                        alert("已经点评过,不要重复点评");
                    }else if(data == "0"){
                        alert("点评失败,稍后再试");
                    }else{
                        alert("点评成功，稍后您的点评就会展现");
                    }
                },
                error: function(){ //请求失败
                    alert("点评失败,时候再试");
                }
            });
        }
    });
    /*]]>*/
</script>
</body>
</html>