<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="applicable-device" content="pc"/>
    <title>笑话大全_最新搞笑图片_爆笑冷笑话_有家笑话</title>
    <meta name="description" content="有家笑话网，与千万笑友一起分享最新最热的爆笑笑话、搞笑图片、动态图、冷笑话、糗事笑话、成人笑话、经典笑话、内涵段子等笑话大全。" />
    <meta name="keywords" content="笑话,搞笑图片,冷笑话,有家笑话" />
    <link type="text/css" href="css/person.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
    <script type="text/javascript" src="js/jquery-1.8.0.js"></script>
    <script type="text/javascript" src="js/ujiajoke.js"></script>
    <script type="text/javascript" src="js/bootstrap-paginator.min.js"></script>
</head>
<body>
<!--头部信息开始-->
<div class="header" th:replace="index::index_header">
    <!--标题开始-->
    <div class="header-top">
        <div class="header-top-content">
            <p class="header-top-title">加入有家笑话，成为有家一族，成就快乐家族！</p>
            <div class="islogin">
                <div class="my-center">
                    <i title="个人中心"></i>
                    <ul>
                        <li><a href="myJoke.html">我的投稿</a></li>
                        <li><a href="vip.html">VIP专题</a></li>
                        <li><a href="profile.html">个人资料</a></li>
                        <li><a href="inviteFriends.html">邀请好友</a></li>
                        <li class="noborder"><a href="logout.html" rel="nofollow">退出</a></li>
                    </ul>
                </div>
                <div class="my-message">
                    <a href="recommended.html" target="_blank"><i class="message-new" title="精品推荐"></i></a>
                </div>
                <span class="username-top"><a href="profile.html">JackAn</a>，欢迎回来!</span>
            </div>
        </div>
    </div>
    <!--标题结束-->
    <!--导航菜单开始-->
    <div class="header-nav">
      <div class="logo"><a href="index.html"><h1>笑话</h1></a></div>
      <ul>
          <li> <a href="index.html" class="hover" title="按热门程度排序">首页</a></li>
            <li><a href="jiongtu.html" title="按时间先后排序">囧图</a></li>
            <li><a href="qiushi.html" >糗事</a></li>
            <li><a href="neihan.html" >内涵图</a></li>
            <li><a href="vip/vip_index.html" >会员专享<i></i></a></li>
        </ul>
      <div class="mahua-slogan"></div>
    </div>
    <!--导航菜单结束-->
</div>
<!--头部信息结束-->
<!--主要内容开始-->
<div class="main">
    <!--个人信息开始-->
	<div class="user-banner" th:fragment="myJoke_user" th:with="userInfo=${@authorizationUserService.getUserEntity()}">
		<span id="editImg">
			<img id="myphoto" src="img/avatar_2.jpg" th:src = "${#httpServletRequest.getContextPath() + userInfo.photo}" th:alt="${userInfo.name}"/>
		</span>
        <dl class="user-info" th:with="map=${@jokeService.getJokeSumNumberById(userInfo.uid)}">
            <dt><span th:text="${userInfo.name}">阿狸爱桃子</span><a href="../about/shengjiguize.html" th:text="${'家族级别：'+userInfo.level}" target="_blank">实习生</a></dt>
            <dd class="obtain">
                经验值：<span class="in" th:text="${userInfo.experience}">100</span>&nbsp;&nbsp;&nbsp;&nbsp;
                积分：<span class="in" th:text="${userInfo.integral}">100</span>&nbsp;&nbsp;&nbsp;&nbsp;
                等级：<span class="out" th:text="${userInfo.level}">实习生</span>
            </dd>
            <dd class="mymabi">Ta的笑话：<span th:text="${map.get('jokeSum')}">8424</span></dd>
            <dd class="obtain">
                通过的笑话：<span class="in" th:text="${map.get('jokePassSum')}">7451</span>&nbsp;&nbsp;&nbsp;&nbsp;
                通过率：<span class="out" th:text="${#numbers.formatDecimal(map.get('passRate'), 1, 2)+'%'}">88%</span>
            </dd>
        </dl>
	</div>
    <!--个人信息结束-->
    <!--左侧信息开始-->
	<div class="left">
		<ul class="user-nav">
            <li><a href="myJoke.html" class="hover">我的投稿</a></li>
            <li><a href="myVipJoke.html">VIP专题</a></li>
            <li><a href="profile.html">个人资料</a></li>
            <li><a href="recommended.html" >精品推荐</a></li>
            <li><a href="inviteFriends.html" >邀请好友</a></li>
        </ul>		
        <ul class="content myinfo my-published">
			<li class="tab">
				<a href="myJoke.html?status=3" th:class="${status eq 3?'hover':''}" class="hover">全部</a>
				<a href="myJoke.html?status=2" th:class="${status eq 2?'hover':''}" >通过</a>
				<a href="myJoke.html?status=1" th:class="${status eq 1?'hover':''}" >待审核</a>
				<a href="myJoke.html?status=0" th:class="${status eq 0?'hover':''}" >未通过</a>
                <input type="hidden" id="status" th:value="${status}"/>
			</li>
            <li th:if="${pages.totalElements == 0}"><p class="no-myinfo">哥们新来的吧，啥也没有啊！</p></li>
            <li th:if="${pages.totalElements > 0}">
                <dl th:each="page :${pages}">
                    <dt><a href="detail/jokedetail.html" th:href="${page.jid+'/jokeDetail.html'}" th:text="${page.title}">真会走位的小兵</a></dt>
                    <dd class="results" th:switch="${page.status}" >
                        <div th:case="2" class="results-left"><span>恭喜！您的投稿已通过审核！</span></div>
                        <div th:case="1" class="results-left"><span>正在审核！</span></div>
                        <div th:case="0" class="results-left"><span>审核未通过！</span></div>
                    </dd>
                    <hr/>
                </dl>
                <!-- 分页 -->
                <div class="pagination pagination-right">
                    <div id="example" style="float: left;"></div>
                    <script th:inline="javascript">
                        /*<![CDATA[*/
                        $(function () {
                            var totalPages = /*[[${pages.totalPages}]]*/1;
                            var newPage = /*[[${newPage}]]*/1;
                            $.ajaxSetup({
                                cache: false
                            });
                            var options = {
                                currentPage: newPage,
                                totalPages: totalPages,
                                onPageClicked: function (e, originalEvent, type, page) {
                                    window.location.href = "myJoke.html?page=" + page +"&status="+$("#status").val();
                                }
                            }
                            $('#example').bootstrapPaginator(options);
                        })
                        function goPage(){
                            var pageValue=$('#page').val();
                            if(!isNaN(pageValue) && parseInt(pageValue)>0){
                                if(parseInt(pageValue) == 1){
                                    window.location.href = "myJoke.html?status="+$("#status").val();
                                }else{
                                    window.location.href = "myJoke.html?page=" + pageValue +"&status="+$("#status").val();
                                }
                            }else{
                                alert('请输入正确的页码');
                            }
                        }
                        /*]]>*/
                    </script>
                    <div class="go-page" data-maxPage="1000">
                        <input id="page" placeholder="跳到.." type="text" title="跳到.."/><a href="javascript:void(0);" onclick="goPage();">GO</a>
                    </div>
                </div>
            </li>
		</ul>
	</div>

    <!--左侧信息结束-->
    <!--右侧信息开始-->
	<div class="right" th:fragment="myJoke_right">
		<div class="publish-audit">
	      <a href="releaseJoke.html" class="publish" target="_blank"><i></i><span>投稿</span></a>
          <a href="javascript:alert(1);" class="audit" target="_blank"><i></i><span>审稿</span></a>
        </div>		
        <dl class="other-user" th:with="list=${@userInfoService.getTodayStar(9)}">
            <dt>看看他们的笑话</dt>
            <dd th:each="us :${list}" >
                <a href="detail/jokedetail.html" th:href="${us.uid+'/userCenter.html'}" class="go-user-index" target="_blank" >
                    <img src="img/avatar_2.jpg" th:src="${#httpServletRequest.getContextPath() + us.photo}" th:alt="${us.name}" alt="独创KISS洋洋"/>
                    <i></i>
                    <p th:text="${us.name}">独创KISS洋洋</p>
                </a>
                <a href="detail/userCenter.html" th:href="${us.uid+'/userCenter.html'}" class="go-user-index-btn" target="_blank">去Ta首页</a>
            </dd>  
        </dl>	
    </div>
    <!--右侧信息结束-->
</div>
<!--主要内容结束-->
<!--底部内容开始-->
<div class="footer" th:replace="index::index_footer">
    <div class="footer-content">
        <div class="about">
            <dl>
                <dt>关于快乐家族</dt>
                <dd><a href="about/youjiajianjie.html" target="_blank">家族简介</a><a href="about/youjiagonggao.html" target="_blank">家族公告</a></dd>
                <dd><a href="about/mianzeshengming.html" target="_blank">免责声明</a><a href="about/fankuiyijian.html" target="_blank" class="a-color-red">反馈意见</a></dd>
            </dl>
            <dl>
                <dt>互动规则</dt>
                <dd><a href="about/tougaoguize.html" target="_blank">投稿规则</a><a href="about/shengaoguize.html" target="_blank">审稿规则</a></dd>
                <dd><a href="about/shengjiguize.html" target="_blank">升级规则</a><a href="about/xiaobiguize.html" target="_blank">笑币规则</a></dd>
            </dl>
            <dl>
                <dt>关注</dt>
                <dd><a href="javascript:alert('暂未开通');" target="_blank" class="footer-weibo" rel="nofollow">新浪微博</a><a href="javascript:alert('暂未开通');" target="_blank" class="footer-qzone" rel="nofollow">QQ空间</a></dd>
                <dd><a href="javascript:alert('暂未开通');" target="_blank" class="footer-QQweibo" rel="nofollow">腾讯微博</a><a href="javascript:alert('暂未开通');" target="_blank" class="footer-weixin" rel="nofollow" style="color: #03a8b1;">官方微站</a></dd>
            </dl>
            <dl class="about-contact">
                <dt>有家合作</dt>
                <dd>合作：youjiaxiaohua@163.com</dd>
            </dl>
        </div>
        <div class="coypright">
            <p>Copyright 2014-2024 youjiaxiaohua.com 版权所有 京ICP备13039142号-1 京ICP证130395号</p>
        </div>
    </div>
</div>
<!--[if IE 6]>
	<script>document.execCommand("BackgroundImageCache",false,true)</script>
<![endif]-->
</body>
</html>