<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="applicable-device" content="pc"/>
    <title>我的投稿_快乐麻花</title>
    <link type="text/css" href="css/person.css" rel="stylesheet" />
    <script type="text/javascript" src="js/ujiajoke.js"></script>
    <script type="text/javascript">
        function checkUserInfo(){
            var qq = $.trim($("#qq").val());
            var phone = $.trim($("#phone").val());
            if(qq==""){
                $("#qq_info").text("QQ不能为空");
                return false;
            }
            var reg_qq = /^\d*$/;
            if(!reg_qq.test(qq)){
                $("#qq_info").text("QQ格式不对!");
                return false;
            } else {
                $("#qq_info").text("");
            }

            if(phone==""){
                $("#phone_info").text("电话号码不能为空");
                return false;
            }
            var mobile = /^1[3|4|5|7|8]\d{9}$/;
            var temp = mobile.test(phone);
            if (!temp) {
                $("#phone_info").text("手机号码错误!");
                return false;
            } else {
                $("#phone_info").text("");
            }
            return true;
        }
        function checkPassWord(){
            var old_password = $.trim($("#old_password").val());
            var password = $.trim($("#password").val());
            var passconf = $.trim($("#passconf").val());
            if(old_password==""){
                alert("旧密码不能为空");
                return false;
            }
            if(password=="" || passconf==""){
                alert("新密码不能为空");
                return false;
            }
            if(password=="" || passconf==""){
                alert("新密码不能为空");
                return false;
            }
            if(password != passconf){
                alert("两次密码不一样！");
                return false;
            }
            return true;
        }
    </script>
</head>
<body>
<!--头部信息开始-->
<div class="header" th:replace="index::index_header">
    <!--标题开始-->
    <div class="header-top">
        <div class="header-top-content">
            <p class="header-top-title">有家笑话—分享身边搞笑事，收获笑币好心情</p>
            <div class="islogin">
                <div class="my-center">
                    <i title="个人中心"></i>
                    <ul>
                        <li><a href="myJoke.html">我的投稿</a></li>
                        <li><a href="vip.html">VIP专题</a></li>
                        <li><a href="profile.html">个人资料</a></li>
                        <li><a href="inviteFriends.html">邀请好友</a></li>
                        <li class="noborder"><a href="logout.html" rel="nofollow">退出</a></li>
                    </ul>
                </div>
                <div class="my-message">
                    <a href="http://user.mahua.com/home" target="_blank"><i class="message-new" title="没有新消息"></i></a>
                </div>
                <span class="username-top"><a href="profile.html">JackAn</a>，欢迎回来!</span>
            </div>
        </div>
    </div>
    <!--标题结束-->
    <!--导航菜单开始-->
    <div class="header-nav">
      <div class="logo"><a href="index.html"><h1>笑话</h1></a></div>
      <ul>
          <li> <a href="index.html" class="hover" title="按热门程度排序">首页</a></li>
            <li><a href="newjokes/index.html" title="按时间先后排序">囧图</a></li>
            <li><a href="shenhuifu.html" >糗事</a></li>
            <li><a href="user/lipin/index.html" >内涵图</a></li>
            <li><a href="user/lipin/index.html" >会员专享<i></i></a></li>
        </ul>
      <div class="mahua-slogan"></div>
    </div>
    <!--导航菜单结束-->
</div>
<!--头部信息结束-->
<!--主要内容开始-->
<div class="main">
    <!--个人信息开始-->
	<div class="user-banner" th:replace="myJoke::myJoke_user">
		<span id="editImg">
			<img src="img/avatar_2.jpg"/>
		</span>
        <dl class="user-info">
            <script type="text/javascript">var score=0;</script>
            <dt><span>阿狸爱桃子</span><a href="http://www.mahua.com/about/shengjiguize.htm" class="level_icon icon_lv89" title="麻花盟主" target="_blank"></a></dt>
            <dd class="obtain">
                积分：<span class="in">100</span>&nbsp;&nbsp;&nbsp;&nbsp;
                等级：<span class="out">初出茅庐</span>
            </dd>
            <dd class="mymabi">Ta的笑话：<span>8424</span></dd>
            <dd class="obtain">
                通过的笑话：<span class="in">7451</span>&nbsp;&nbsp;&nbsp;&nbsp;
                通过率：<span class="out">88%</span>
            </dd>
        </dl>
	</div>
    <!--个人信息结束-->
    <!--左侧信息开始-->
    <div class="left">
       <ul class="user-nav">
          <li><a href="myJoke.html">我的投稿</a></li>
          <li><a href="myVipJoke.html">VIP专题</a></li>
          <li><a href="profile.html" class="hover">个人资料</a></li>
          <li><a href="recommended.html" >精品推荐</a></li>
          <li><a href="inviteFriends.html" >邀请好友</a></li>
        </ul>         
		<dl class="editInfo editInfoPhone">
          <dt>基本信息</dt>
          <dd>昵　称：<span th:text="${userInfo.name}">JackAn</span></dd>
          <dd>邮　箱：<span th:text="${userInfo.email}">1036661027@qq.com</span></dd>
          <form id="redactUserInfo" th:action="@{redactUserInfo.html}" method="post" onsubmit="javascript:return checkUserInfo()">
          <dd>Q Q号：<input type="text" value="123456" th:value="${userInfo.qq}" id="qq" name="qq" style="border: 1px solid rgb(226, 226, 226); width: 200px; height: 24px; color: rgb(150, 150, 150); line-height: 24px; padding-left: 5px; margin-right: 10px;"/>
              <span id="qq_info" th:text="${qq_info}" class="error">QQ号不能为空</span>
          </dd>
          <dd>手机号：<input type="text" value="13593513935" th:value="${userInfo.phone}" id="phone" name="phone" style="border: 1px solid rgb(226, 226, 226); width: 200px; height: 24px; color: rgb(150, 150, 150); line-height: 24px; padding-left: 5px; margin-right: 10px;"/>
              <span id="phone_info" th:text="${phone_info}" class="error">电话号码不能为空</span>
          </dd>
          <dd class="editInfo-btn">
              <input type="submit" value="保存" class="editPassword-submit"/>
              <input type="reset" value="取消" class="editPassword-reset" />
          </dd>
          </form>
		</dl>
		<form id="editPassword" th:action="@{redactPassWord.html}" method="post" onsubmit="javascript:return checkPassWord()">
			<dl class="editInfo">
                <dt th:text="${msg}"></dt>
				<dt>修改密码</dt>
                <dd>旧密码<input type="password" id="old_password" name="old_password" class="oldPassword" title="旧密码"/></dd>
                <dd>新密码<input type="password" id="password" name="password" class="password" title="密码"/></dd>
                <dd>新密码<input type="password" id="passconf" name="passconf" class="passconf" title="确认密码"/></dd>
                <dd class="editInfo-btn"><input type="submit" value="保存" class="editPassword-submit"/><input type="reset" value="取消" class="editPassword-reset" /></dd>
			</dl>
		</form>
	</div>
    <!--左侧信息结束-->
	<!--右侧信息开始-->
	<div class="right" th:replace="myJoke::myJoke_right">
		<div class="publish-audit">
	      <a href="javascript:alert(1);" class="publish" target="_blank"><i></i><span>投稿</span></a>
          <a href="javascript:alert(1);" class="audit" target="_blank"><i></i><span>审稿</span></a>
        </div>		
        <dl class="other-user">
            <dt>看看他们的笑话</dt>
            <dd>
                <a href="javascript:alert(1);" class="go-user-index" target="_blank">
                    <img src="img/avatar_2.jpg" alt="独创KISS洋洋"/>
                    <i></i>
                    <p>独创KISS洋洋</p>
                </a>
                <a href="javascript:alert(1);" class="go-user-index-btn" target="_blank">去Ta首页</a>
            </dd>  
        </dl>	
    </div>
    <!--右侧信息结束-->
</div>
<!--主要内容结束-->
<!--底部内容开始-->
<div class="footer" th:replace="index::index_footer">
    <div class="footer-content">
        <div class="about">
            <dl>
                <dt>关于快乐家族</dt>
                <dd><a href="about/youjiajianjie.html" target="_blank">家族简介</a><a href="about/youjiagonggao.html" target="_blank">家族公告</a></dd>
                <dd><a href="about/mianzeshengming.html" target="_blank">免责声明</a><a href="about/fankuiyijian.html" target="_blank" class="a-color-red">反馈意见</a></dd>
            </dl>
            <dl>
                <dt>互动规则</dt>
                <dd><a href="about/tougaoguize.html" target="_blank">投稿规则</a><a href="about/shengaoguize.html" target="_blank">审稿规则</a></dd>
                <dd><a href="about/shengjiguize.html" target="_blank">升级规则</a><a href="about/xiaobiguize.html" target="_blank">笑币规则</a></dd>
            </dl>
            <dl>
                <dt>关注</dt>
                <dd><a href="javascript:alert('暂未开通');" target="_blank" class="footer-weibo" rel="nofollow">新浪微博</a><a href="javascript:alert('暂未开通');" target="_blank" class="footer-qzone" rel="nofollow">QQ空间</a></dd>
                <dd><a href="javascript:alert('暂未开通');" target="_blank" class="footer-QQweibo" rel="nofollow">腾讯微博</a><a href="javascript:alert('暂未开通');" target="_blank" class="footer-weixin" rel="nofollow" style="color: #03a8b1;">官方微站</a></dd>
            </dl>
            <dl class="about-contact">
                <dt>有家合作</dt>
                <dd>合作：youjiaxiaohua@163.com</dd>
            </dl>
        </div>
        <div class="coypright">
            <p>Copyright 2014-2024 youjiaxiaohua.com 版权所有 京ICP备13039142号-1 京ICP证130395号</p>
        </div>
    </div>
</div>
<!--[if IE 6]>
	<script>document.execCommand("BackgroundImageCache",false,true)</script>
<![endif]-->
</body>
</html>