<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="applicable-device" content="pc"/>
    <title>笑币规则_有家笑话</title>
    <meta name="description" content="笑币规则" />
    <meta name="keywords" content="笑币规则" />
    <link type="text/css" href="../css/about.css" rel="stylesheet" />
</head>
<body>
<!--头部信息开始-->
<div class="header">
    <!--标题开始-->
    <div class="header-top">
        <div class="header-top-content">
            <p class="header-top-title">有家笑话—分享身边搞笑事，收获笑币好心情</p>
            <div id="islogin" class="islogin">
                <a href="https://passport.mahua.com/account/register" class="top-reg" target="_blank" rel="nofollow">注册</a>
                <a href="javascript:void(0);" class="top-login loginClick" rel="nofollow">登录</a>
                <span class="border-nav-top">|</span>
                <a href="http://user.mahua.com/connect/weibo" target="_blank" class="top-login-weibo" title="新浪微博登录" rel="nofollow">微博登录</a>
                <a href="http://user.mahua.com/connect/tencent" target="_blank" class="top-login-qq" title="QQ登录" rel="nofollow">QQ登录</a>
            </div>
        </div>
    </div>
    <!--标题结束-->
    <!--导航菜单开始-->
    <div class="header-nav">
        <div class="logo"><a href="index.html"><h1>笑话</h1></a></div>
        <ul>
            <li> <a href="index.html" class="hover" title="按热门程度排序">首页</a></li>
            <li><a href="newjokes/index.html" title="按时间先后排序">囧图</a></li>
            <li><a href="shenhuifu.html" >糗事</a></li>
            <li><a href="user/lipin/index.html" >内涵图</a></li>
            <li><a href="user/lipin/index.html" >会员专享<i></i></a></li>
        </ul>
        <div class="mahua-slogan"></div>
    </div>
    <!--导航菜单结束-->
</div>
<!--头部信息结束-->
<!--主要内容开始-->
<div class="about-main">
	<div class="left">
        <dl>
            <dt>关于有家</dt>
            <dd><a href="youjiajianjie.html" >有家简介</a></dd>
            <dd><a href="youjiagonggao.html" >有家公告</a></dd>
            <dd><a href="mianzeshengming.html" class="hover">免责声明</a></dd>
            <dd><a href="fankuiyijian.html">反馈意见</a></dd>
        </dl>
        <dl class="guize">
            <dt>校友互动</dt>
            <dd><a href="tougaoguize.html" >投稿规则</a></dd>
            <dd><a href="shengaoguize.html" >审稿规则</a></dd>
            <dd><a href="shengjiguize.html" >升级规则</a></dd>
            <dd><a href="xiaobiguize.html" class="hover">笑币规则</a></dd>
        </dl>	
    </div>	
    <div class="right">
		<dl class="mianze">
			<dt>免责声明</dt>
			<dd>
				<p>在本网站发表笑话(图片)即意味着同意其笑话图片在本站内的公开发布与传播以及本站引用所产生的使用权，由于第三方下载而引起的传播和修改等衍生责任，本站不承担责任。</p>
				<p>本页笑话图片内容由网友自行在论坛发布，本站仅提供笑话、图片存储空间服务，笑话(图片)上传者应自行负责所上传笑话(图片)涉及的法律责任，本站对帖文真实性、版权等概不负责，亦不承担任何法律责任。</p>
				<p>本站对于上传的笑话、图片保留未经通知到本人立即删除的权利。</p> 
				<p>任何单位或个人认为本站所保存的笑话(图片)内容可能涉嫌侵犯其合法权益，应该及时向本站书面反馈，并提供身份证明、权属证明及详细侵权情况证明，本站在收到上述法律文件后，将会尽快移除被控侵权内容。</p>
			</dd>
		</dl>
	</div>
</div>
<!--底部内容开始-->
<div class="footer">
	<div class="footer-content">
        <div class="about">
            <dl>
                <dt>关于有家</dt>
                <dd><a href="about/mahuajianjie.html" target="_blank">有家简介</a><a href="about/mahuagonggao.html" target="_blank">有家公告</a></dd>
                <dd><a href="about/mianzeshengming.html" target="_blank">免责声明</a><a href="about/fankuiyijian.html" target="_blank" class="a-color-red">反馈意见</a></dd>
            </dl>
            <dl>
                <dt>互动规则</dt>
                <dd><a href="about/tougaoguize.html" target="_blank">投稿规则</a><a href="about/shengaoguize.html" target="_blank">审稿规则</a></dd>
                <dd><a href="about/shengjiguize.html" target="_blank">升级规则</a><a href="about/mabiguize.html" target="_blank">笑币规则</a></dd>
            </dl>
            <dl>
                <dt>关注</dt>
                <dd><a href="http://e.weibo.com/kuailemahua" target="_blank" class="footer-weibo" rel="nofollow">新浪微博</a><a href="http://user.qzone.qq.com/320182733" target="_blank" class="footer-qzone" rel="nofollow">QQ空间</a></dd>
                <dd><a href="http://t.qq.com/kuailemahua?lang=zh_CN" target="_blank" class="footer-QQweibo" rel="nofollow">腾讯微博</a><a href="user/weixin.html" target="_blank" class="footer-weixin" rel="nofollow">微信订阅</a></dd>
            </dl>
            <dl class="about-contact">
                <dt>麻花合作</dt>
                <dd>麻花粉丝QQ群:<i></i>95773113<i></i>253814987</dd>
                <dd>合作：kuailemahua@163.com</dd>
            </dl>
        </div>		
      <div class="coypright">
       	<p>Copyright 2005-2014 mahua.com 版权所有 京ICP备13039142号-1 京ICP证130395号</p>
      </div>
	</div>
</div>
<!--底部内容结束-->
<!--[if IE 6]>
	<script>document.execCommand("BackgroundImageCache",false,true)</script>
<![endif]-->
</body>
</html>