<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="applicable-device" content="pc"/>
    <title>笑币规则_有家笑话</title>
    <meta name="description" content="笑币规则" />
    <meta name="keywords" content="笑币规则" />
    <link type="text/css" href="../css/about.css" rel="stylesheet" />
</head>
<body>
<!--头部信息开始-->
<div class="header">
    <!--标题开始-->
    <div class="header-top">
        <div class="header-top-content">
            <p class="header-top-title">有家笑话—分享身边搞笑事，收获笑币好心情</p>
            <div id="islogin" class="islogin">
                <a href="https://passport.mahua.com/account/register" class="top-reg" target="_blank" rel="nofollow">注册</a>
                <a href="javascript:void(0);" class="top-login loginClick" rel="nofollow">登录</a>
                <span class="border-nav-top">|</span>
                <a href="http://user.mahua.com/connect/weibo" target="_blank" class="top-login-weibo" title="新浪微博登录" rel="nofollow">微博登录</a>
                <a href="http://user.mahua.com/connect/tencent" target="_blank" class="top-login-qq" title="QQ登录" rel="nofollow">QQ登录</a>
            </div>
        </div>
    </div>
    <!--标题结束-->
    <!--导航菜单开始-->
    <div class="header-nav">
        <div class="logo"><a href="index.html"><h1>笑话</h1></a></div>
        <ul>
            <li> <a href="index.html" class="hover" title="按热门程度排序">首页</a></li>
            <li><a href="newjokes/index.html" title="按时间先后排序">囧图</a></li>
            <li><a href="shenhuifu.html" >糗事</a></li>
            <li><a href="user/lipin/index.html" >内涵图</a></li>
            <li><a href="user/lipin/index.html" >会员专享<i></i></a></li>
        </ul>
        <div class="mahua-slogan"></div>
    </div>
    <!--导航菜单结束-->
</div>
<!--头部信息结束-->
<!--主要内容开始-->
<div class="about-main">
	<div class="left">
        <dl>
            <dt>关于有家</dt>
            <dd><a href="youjiajianjie.html" >有家简介</a></dd>
            <dd><a href="youjiagonggao.html" >有家公告</a></dd>
            <dd><a href="mianzeshengming.html" >免责声明</a></dd>
            <dd><a href="fankuiyijian.html">反馈意见</a></dd>
        </dl>
        <dl class="guize">
            <dt>校友互动</dt>
            <dd><a href="tougaoguize.html" >投稿规则</a></dd>
            <dd><a href="shengaoguize.html" >审稿规则</a></dd>
            <dd><a href="shengjiguize.html" class="hover">升级规则</a></dd>
            <dd><a href="xiaobiguize.html" >笑币规则</a></dd>
        </dl>	
    </div>	
    <div class="right">
		<dl class="shengji">
			<dt>升级规则</dt>
			<dd>
				<p>在新版麻花，等级随在线时长上升。已注册会员将保留原有等级，在此基础上按新版规则升级。升级规则表如下：</p>
								<table cellspacing="1">
					<tr><th>等级</th><th>升到下一级所需时间</td><th>头衔</th><th>投稿数量</th></tr>
					<tr><td>1级</td><td>0分钟</td><td><span class="level_icon icon_lv1"></span></td><td rowspan="9">每天可投稿5条</td></tr>
					<tr><td>2级</td><td>45分钟</td><td><span class="level_icon icon_lv2"></span></td></tr>
					<tr><td>3级</td><td>95分钟</td><td><span class="level_icon icon_lv3"></span></td></tr>
					<tr><td>4级</td><td>150分钟</td><td><span class="level_icon icon_lv4"></span></td></tr>
					<tr><td>5级</td><td>210分钟</td><td><span class="level_icon icon_lv5"></span></td></tr>
					<tr><td>6级</td><td>275分钟</td><td><span class="level_icon icon_lv6"></span></td></tr>
					<tr><td>7级</td><td>345分钟</td><td><span class="level_icon icon_lv7"></span></td></tr>
					<tr><td>8级</td><td>420分钟</td><td><span class="level_icon icon_lv8"></span></td></tr>
					<tr><td>9级</td><td>500分钟</td><td><span class="level_icon icon_lv9"></span></td></tr>
					<tr><td>10级</td><td>590分钟</td><td><span class="level_icon icon_lv10"></span></td><td rowspan="10">每天可投稿10条</td></tr>
					<tr><td>11级</td><td>690分钟</td><td><span class="level_icon icon_lv11"></span></td></tr>
					<tr><td>12级</td><td>800分钟</td><td><span class="level_icon icon_lv12"></span></td></tr>
					<tr><td>13级</td><td>920分钟</td><td><span class="level_icon icon_lv13"></span></td></tr>
					<tr><td>14级</td><td>1050分钟</td><td><span class="level_icon icon_lv14"></span></td></tr>
					<tr><td>15级</td><td>1190分钟</td><td><span class="level_icon icon_lv15"></span></td></tr>
					<tr><td>16级</td><td>1340分钟</td><td><span class="level_icon icon_lv16"></span></td></tr>
					<tr><td>17级</td><td>1500分钟</td><td><span class="level_icon icon_lv17"></span></td></tr>
					<tr><td>18级</td><td>1670分钟</td><td><span class="level_icon icon_lv18"></span></td></tr>
					<tr><td>19级</td><td>1850分钟</td><td><span class="level_icon icon_lv19"></span></td></tr>
					<tr><td>20级</td><td>2045分钟</td><td><span class="level_icon icon_lv20"></span></td><td rowspan="10">每天可投稿15条</td></tr>
					<tr><td>21级</td><td>2255分钟</td><td><span class="level_icon icon_lv21"></span></td></tr>
					<tr><td>22级</td><td>2480分钟</td><td><span class="level_icon icon_lv22"></span></td></tr>
					<tr><td>23级</td><td>2720分钟</td><td><span class="level_icon icon_lv23"></span></td></tr>
					<tr><td>24级</td><td>2975分钟</td><td><span class="level_icon icon_lv24"></span></td></tr>
					<tr><td>25级</td><td>3250分钟</td><td><span class="level_icon icon_lv25"></span></td></tr>
					<tr><td>26级</td><td>3545分钟</td><td><span class="level_icon icon_lv26"></span></td></tr>
					<tr><td>27级</td><td>3860分钟</td><td><span class="level_icon icon_lv27"></span></td></tr>
					<tr><td>28级</td><td>4200分钟</td><td><span class="level_icon icon_lv28"></span></td></tr>
					<tr><td>29级</td><td>4565分钟</td><td><span class="level_icon icon_lv29"></span></td></tr>
					<tr><td>30级</td><td>4955分钟</td><td><span class="level_icon icon_lv30"></span></td><td rowspan="10">每天可投稿20条</td></tr>
					<tr><td>31级</td><td>5375分钟</td><td><span class="level_icon icon_lv31"></span></td></tr>
					<tr><td>32级</td><td>5825分钟</td><td><span class="level_icon icon_lv32"></span></td></tr>
					<tr><td>33级</td><td>6305分钟</td><td><span class="level_icon icon_lv33"></span></td></tr>
					<tr><td>34级</td><td>6815分钟</td><td><span class="level_icon icon_lv34"></span></td></tr>
					<tr><td>35级</td><td>7365分钟</td><td><span class="level_icon icon_lv35"></span></td></tr>
					<tr><td>36级</td><td>7955分钟</td><td><span class="level_icon icon_lv36"></span></td></tr>
					<tr><td>37级</td><td>8590分钟</td><td><span class="level_icon icon_lv37"></span></td></tr>
					<tr><td>38级</td><td>9270分钟</td><td><span class="level_icon icon_lv38"></span></td></tr>
					<tr><td>39级</td><td>10005分钟</td><td><span class="level_icon icon_lv39"></span></td></tr>
					<tr><td>40级</td><td>10800分钟</td><td><span class="level_icon icon_lv40"></span></td><td rowspan="10">每天可投稿25条</td></tr>
					<tr><td>41级</td><td>11645分钟</td><td><span class="level_icon icon_lv41"></span></td></tr>
					<tr><td>42级</td><td>12545分钟</td><td><span class="level_icon icon_lv42"></span></td></tr>
					<tr><td>43级</td><td>13505分钟</td><td><span class="level_icon icon_lv43"></span></td></tr>
					<tr><td>44级</td><td>14525分钟</td><td><span class="level_icon icon_lv44"></span></td></tr>
					<tr><td>45级</td><td>15605分钟</td><td><span class="level_icon icon_lv45"></span></td></tr>
					<tr><td>46级</td><td>16755分钟</td><td><span class="level_icon icon_lv46"></span></td></tr>
					<tr><td>47级</td><td>17980分钟</td><td><span class="level_icon icon_lv47"></span></td></tr>
					<tr><td>48级</td><td>19290分钟</td><td><span class="level_icon icon_lv48"></span></td></tr>
					<tr><td>49级</td><td>20690分钟</td><td><span class="level_icon icon_lv49"></span></td></tr>
					<tr><td>50级</td><td>22190分钟</td><td><span class="level_icon icon_lv50"></span></td><td rowspan="10">每天可投稿30条</td></tr>
					<tr><td>51级</td><td>23810分钟</td><td><span class="level_icon icon_lv51"></span></td></tr>
					<tr><td>52级</td><td>25560分钟</td><td><span class="level_icon icon_lv52"></span></td></tr>
					<tr><td>53级</td><td>27450分钟</td><td><span class="level_icon icon_lv53"></span></td></tr>
					<tr><td>54级</td><td>29500分钟</td><td><span class="level_icon icon_lv54"></span></td></tr>
					<tr><td>55级</td><td>31710分钟</td><td><span class="level_icon icon_lv55"></span></td></tr>
					<tr><td>56级</td><td>34080分钟</td><td><span class="level_icon icon_lv56"></span></td></tr>
					<tr><td>57级</td><td>36610分钟</td><td><span class="level_icon icon_lv57"></span></td></tr>
					<tr><td>58级</td><td>39310分钟</td><td><span class="level_icon icon_lv58"></span></td></tr>
					<tr><td>59级</td><td>42180分钟</td><td><span class="level_icon icon_lv59"></span></td></tr>
					<tr><td>60级</td><td>45220分钟</td><td><span class="level_icon icon_lv60"></span></td><td rowspan="10">每天可投稿35条</td></tr>
					<tr><td>61级</td><td>48440分钟</td><td><span class="level_icon icon_lv61"></span></td></tr>
					<tr><td>62级</td><td>51840分钟</td><td><span class="level_icon icon_lv62"></span></td></tr>
					<tr><td>63级</td><td>55420分钟</td><td><span class="level_icon icon_lv63"></span></td></tr>
					<tr><td>64级</td><td>59180分钟</td><td><span class="level_icon icon_lv64"></span></td></tr>
					<tr><td>65级</td><td>63120分钟</td><td><span class="level_icon icon_lv65"></span></td></tr>
					<tr><td>66级</td><td>67240分钟</td><td><span class="level_icon icon_lv66"></span></td></tr>
					<tr><td>67级</td><td>71540分钟</td><td><span class="level_icon icon_lv67"></span></td></tr>
					<tr><td>68级</td><td>76030分钟</td><td><span class="level_icon icon_lv68"></span></td></tr>
					<tr><td>69级</td><td>80710分钟</td><td><span class="level_icon icon_lv69"></span></td></tr>
					<tr><td>70级</td><td>85580分钟</td><td><span class="level_icon icon_lv70"></span></td><td rowspan="10">每天可投稿40条</td></tr>
					<tr><td>71级</td><td>90640分钟</td><td><span class="level_icon icon_lv71"></span></td></tr>
					<tr><td>72级</td><td>95890分钟</td><td><span class="level_icon icon_lv72"></span></td></tr>
					<tr><td>73级</td><td>101340分钟</td><td><span class="level_icon icon_lv73"></span></td></tr>
					<tr><td>74级</td><td>106990分钟</td><td><span class="level_icon icon_lv74"></span></td></tr>
					<tr><td>75级</td><td>112840分钟</td><td><span class="level_icon icon_lv75"></span></td></tr>
					<tr><td>76级</td><td>118890分钟</td><td><span class="level_icon icon_lv76"></span></td></tr>
					<tr><td>77级</td><td>125150分钟</td><td><span class="level_icon icon_lv77"></span></td></tr>
					<tr><td>78级</td><td>131620分钟</td><td><span class="level_icon icon_lv78"></span></td></tr>
					<tr><td>79级</td><td>138300分钟</td><td><span class="level_icon icon_lv79"></span></td></tr>
					<tr><td>80级</td><td>145200分钟</td><td><span class="level_icon icon_lv80"></span></td><td rowspan="10">每天可投稿45条</td></tr>
					<tr><td>81级</td><td>152320分钟</td><td><span class="level_icon icon_lv81"></span></td></tr>
					<tr><td>82级</td><td>159660分钟</td><td><span class="level_icon icon_lv82"></span></td></tr>
					<tr><td>83级</td><td>167220分钟</td><td><span class="level_icon icon_lv83"></span></td></tr>
					<tr><td>84级</td><td>175010分钟</td><td><span class="level_icon icon_lv84"></span></td></tr>
					<tr><td>85级</td><td>183030分钟</td><td><span class="level_icon icon_lv85"></span></td></tr>
					<tr><td>86级</td><td>191280分钟</td><td><span class="level_icon icon_lv86"></span></td></tr>
					<tr><td>87级</td><td>199760分钟</td><td><span class="level_icon icon_lv87"></span></td></tr>
					<tr><td>88级</td><td>208470分钟</td><td><span class="level_icon icon_lv88"></span></td></tr>
					<tr><td>89级</td><td>217420分钟</td><td><span class="level_icon icon_lv89"></span></td></tr>
					<tr><td>90级</td><td>226620分钟</td><td><span class="level_icon icon_lv90"></span></td><td rowspan="10">每天可投稿50条</td></tr>
					<tr><td>91级</td><td>236120分钟</td><td><span class="level_icon icon_lv91"></span></td></tr>
					<tr><td>92级</td><td>245920分钟</td><td><span class="level_icon icon_lv92"></span></td></tr>
					<tr><td>93级</td><td>256920分钟</td><td><span class="level_icon icon_lv93"></span></td></tr>
					<tr><td>94级</td><td>269520分钟</td><td><span class="level_icon icon_lv94"></span></td></tr>
					<tr><td>95级</td><td>284720分钟</td><td><span class="level_icon icon_lv95"></span></td></tr>
					<tr><td>96级</td><td>304120分钟</td><td><span class="level_icon icon_lv96"></span></td></tr>
					<tr><td>97级</td><td>332120分钟</td><td><span class="level_icon icon_lv97"></span></td></tr>
					<tr><td>98级</td><td>371320分钟</td><td><span class="level_icon icon_lv98"></span></td></tr>
					<tr><td>99级</td><td>422320分钟</td><td><span class="level_icon icon_lv99"></span></td></tr>
				</table>
				
			
			</dd>
		</dl>
	</div>
</div>
<!--底部内容开始-->
<div class="footer">
	<div class="footer-content">
        <div class="about">
            <dl>
                <dt>关于有家</dt>
                <dd><a href="about/mahuajianjie.html" target="_blank">有家简介</a><a href="about/mahuagonggao.html" target="_blank">有家公告</a></dd>
                <dd><a href="about/mianzeshengming.html" target="_blank">免责声明</a><a href="about/fankuiyijian.html" target="_blank" class="a-color-red">反馈意见</a></dd>
            </dl>
            <dl>
                <dt>互动规则</dt>
                <dd><a href="about/tougaoguize.html" target="_blank">投稿规则</a><a href="about/shengaoguize.html" target="_blank">审稿规则</a></dd>
                <dd><a href="about/shengjiguize.html" target="_blank">升级规则</a><a href="about/mabiguize.html" target="_blank">笑币规则</a></dd>
            </dl>
            <dl>
                <dt>关注</dt>
                <dd><a href="http://e.weibo.com/kuailemahua" target="_blank" class="footer-weibo" rel="nofollow">新浪微博</a><a href="http://user.qzone.qq.com/320182733" target="_blank" class="footer-qzone" rel="nofollow">QQ空间</a></dd>
                <dd><a href="http://t.qq.com/kuailemahua?lang=zh_CN" target="_blank" class="footer-QQweibo" rel="nofollow">腾讯微博</a><a href="user/weixin.html" target="_blank" class="footer-weixin" rel="nofollow">微信订阅</a></dd>
            </dl>
            <dl class="about-contact">
                <dt>麻花合作</dt>
                <dd>麻花粉丝QQ群:<i></i>95773113<i></i>253814987</dd>
                <dd>合作：kuailemahua@163.com</dd>
            </dl>
        </div>		
      <div class="coypright">
       	<p>Copyright 2005-2014 mahua.com 版权所有 京ICP备13039142号-1 京ICP证130395号</p>
      </div>
	</div>
</div>
<!--底部内容结束-->
<!--[if IE 6]>
	<script>document.execCommand("BackgroundImageCache",false,true)</script>
<![endif]-->
</body>
</html>