<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="applicable-device" content="pc"/>
    <title>笑币规则_有家笑话</title>
    <meta name="description" content="笑币规则" />
    <meta name="keywords" content="笑币规则" />
    <link type="text/css" href="../css/about.css" rel="stylesheet" />
</head>
<body>
<!--头部信息开始-->
<div class="header">
    <!--标题开始-->
    <div class="header-top">
        <div class="header-top-content">
            <p class="header-top-title">有家笑话—分享身边搞笑事，收获笑币好心情</p>
            <div id="islogin" class="islogin">
                <a href="https://passport.mahua.com/account/register" class="top-reg" target="_blank" rel="nofollow">注册</a>
                <a href="javascript:void(0);" class="top-login loginClick" rel="nofollow">登录</a>
                <span class="border-nav-top">|</span>
                <a href="http://user.mahua.com/connect/weibo" target="_blank" class="top-login-weibo" title="新浪微博登录" rel="nofollow">微博登录</a>
                <a href="http://user.mahua.com/connect/tencent" target="_blank" class="top-login-qq" title="QQ登录" rel="nofollow">QQ登录</a>
            </div>
        </div>
    </div>
    <!--标题结束-->
    <!--导航菜单开始-->
    <div class="header-nav">
        <div class="logo"><a href="index.html"><h1>笑话</h1></a></div>
        <ul>
            <li> <a href="index.html" class="hover" title="按热门程度排序">首页</a></li>
            <li><a href="newjokes/index.html" title="按时间先后排序">囧图</a></li>
            <li><a href="shenhuifu.html" >糗事</a></li>
            <li><a href="user/lipin/index.html" >内涵图</a></li>
            <li><a href="user/lipin/index.html" >会员专享<i></i></a></li>
        </ul>
        <div class="mahua-slogan"></div>
    </div>
    <!--导航菜单结束-->
</div>
<!--头部信息结束-->
<!--主要内容开始-->
<div class="about-main">
	<div class="left">
        <dl>
            <dt>关于有家</dt>
            <dd><a href="youjiajianjie.html" >有家简介</a></dd>
            <dd><a href="youjiagonggao.html" >有家公告</a></dd>
            <dd><a href="mianzeshengming.html" >免责声明</a></dd>
            <dd><a href="fankuiyijian.html">反馈意见</a></dd>
        </dl>
        <dl class="guize">
            <dt>校友互动</dt>
            <dd><a href="tougaoguize.html" class="hover">投稿规则</a></dd>
            <dd><a href="shengaoguize.html" >审稿规则</a></dd>
            <dd><a href="shengjiguize.html" >升级规则</a></dd>
            <dd><a href="xiaobiguize.html" >笑币规则</a></dd>
        </dl>	
    </div>	
    <div class="right">
		<dl>
			<dt>投稿规则</dt>
			<dd>
				<p>　　投稿是您对我们最好支持！为营造良好的原创笑话与图片分享氛围，请朋友们遵守投稿规则，多多理解我们哦！</p>
				<p>1、麻花是分享快乐的网站，请不要发表无关的内容欺骗小伙伴们的感情啦！</p>
				<p>2、不能涉及政治、色情、暴力、陪聊等违法违规内容，不能包含邮件地址、电话号码、地址、QQ、微博等联系信息，不要在本站发布广告。</p>
				<p>3、请发布原创的文字和图片，身边的搞笑趣事、糗事、随手拍等都可以，但是把其他网站的内容发到麻花，是不可以喔。</p>
				<p>4、请选择清晰有趣的图片，并且不能包含其他网站、微博号等的水印。请勿上传涉嫌广告、营销的图片。</p>
				<p>5、请勿提交重复的内容。</p>
				<p>6、恶意投稿的用户将被封号一段时间，包括：恶意重复投稿，发布违规、广告等内容，抄袭过多，及其他恶意行为。</p>
			</dd>
		</dl>
	</div>
</div>
<!--底部内容开始-->
<div class="footer">
	<div class="footer-content">
        <div class="about">
            <dl>
                <dt>关于有家</dt>
                <dd><a href="about/mahuajianjie.html" target="_blank">有家简介</a><a href="about/mahuagonggao.html" target="_blank">有家公告</a></dd>
                <dd><a href="about/mianzeshengming.html" target="_blank">免责声明</a><a href="about/fankuiyijian.html" target="_blank" class="a-color-red">反馈意见</a></dd>
            </dl>
            <dl>
                <dt>互动规则</dt>
                <dd><a href="about/tougaoguize.html" target="_blank">投稿规则</a><a href="about/shengaoguize.html" target="_blank">审稿规则</a></dd>
                <dd><a href="about/shengjiguize.html" target="_blank">升级规则</a><a href="about/mabiguize.html" target="_blank">笑币规则</a></dd>
            </dl>
            <dl>
                <dt>关注</dt>
                <dd><a href="http://e.weibo.com/kuailemahua" target="_blank" class="footer-weibo" rel="nofollow">新浪微博</a><a href="http://user.qzone.qq.com/320182733" target="_blank" class="footer-qzone" rel="nofollow">QQ空间</a></dd>
                <dd><a href="http://t.qq.com/kuailemahua?lang=zh_CN" target="_blank" class="footer-QQweibo" rel="nofollow">腾讯微博</a><a href="user/weixin.html" target="_blank" class="footer-weixin" rel="nofollow">微信订阅</a></dd>
            </dl>
            <dl class="about-contact">
                <dt>麻花合作</dt>
                <dd>麻花粉丝QQ群:<i></i>95773113<i></i>253814987</dd>
                <dd>合作：kuailemahua@163.com</dd>
            </dl>
        </div>		
      <div class="coypright">
       	<p>Copyright 2005-2014 mahua.com 版权所有 京ICP备13039142号-1 京ICP证130395号</p>
      </div>
	</div>
</div>
<!--底部内容结束-->
<!--[if IE 6]>
	<script>document.execCommand("BackgroundImageCache",false,true)</script>
<![endif]-->
</body>
</html>