<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="applicable-device" content="pc"/>
    <title>笑币规则_有家笑话</title>
    <meta name="description" content="笑币规则" />
    <meta name="keywords" content="笑币规则" />
    <link type="text/css" href="../css/about.css" rel="stylesheet" />
</head>
<body>
<!--头部信息开始-->
<div class="header" th:replace="about/fankuiyijian::about_fragment_header">
    <!--标题开始-->
    <div class="header-top">
        <div class="header-top-content">
            <p class="header-top-title">有家笑话—分享身边搞笑事，收获笑币好心情</p>
            <div id="islogin" class="islogin">
                <a href="https://passport.mahua.com/account/register" class="top-reg" target="_blank" rel="nofollow">注册</a>
                <a href="javascript:void(0);" class="top-login loginClick" rel="nofollow">登录</a>
                <span class="border-nav-top">|</span>
                <a href="http://user.mahua.com/connect/weibo" target="_blank" class="top-login-weibo" title="新浪微博登录" rel="nofollow">微博登录</a>
                <a href="http://user.mahua.com/connect/tencent" target="_blank" class="top-login-qq" title="QQ登录" rel="nofollow">QQ登录</a>
            </div>
        </div>
    </div>
    <!--标题结束-->
    <!--导航菜单开始-->
    <div class="header-nav">
        <div class="logo"><a href="../index.html"><h1>笑话</h1></a></div>
        <ul>
            <li> <a href="../index.html"  title="按热门程度排序">首页</a></li>
            <li><a href="../jiongtu.html" title="按时间先后排序">囧图</a></li>
            <li><a href="../qiushi.html" >糗事</a></li>
            <li><a href="../neihan.html" >内涵图</a></li>
            <li><a href="../membership.html" >会员专享<i></i></a></li>
        </ul>
        <div class="mahua-slogan"></div>
    </div>
    <!--导航菜单结束-->
</div>
<!--头部信息结束-->
<!--主要内容开始-->
<div class="about-main">
    <!--左侧信息开始-->
    <div class="left" th:replace="about/fankuiyijian::about_fragment_left">
        <dl>
            <dt>关于快乐家族</dt>
            <dd><a href="youjiajianjie.html" id="youjiajianjie">快乐家族简介</a></dd>
            <dd><a href="youjiagonggao.html" id="youjiagonggao">快乐家族公告</a></dd>
            <dd><a href="mianzeshengming.html" id="mianzeshengming">免责声明</a></dd>
            <dd><a href="fankuiyijian.html" id="fankuiyijian">反馈意见</a></dd>
        </dl>
        <dl class="guize">
            <dt>笑友互动</dt>
            <dd><a href="tougaoguize.html" id="tougaoguize">投稿规则</a></dd>
            <dd><a href="shengaoguize.html" id="shengaoguize">审稿规则</a></dd>
            <dd><a href="shengjiguize.html" id="shengjiguize">升级规则</a></dd>
            <dd><a href="xiaobiguize.html" id="xiaobiguize">笑币规则</a></dd>
        </dl>
    </div>
    <!--左侧信息结束-->
    <!--右侧信息开始-->
    <div class="right">
		<dl class="shengji">
			<dt>笑币规则</dt>
			<dd>
				<p>在有家笑话站，1笑币=1角(￥)，希望大家早日变成高富帅或者白富美!</p>
				<table cellspacing="1">
					<tr>
						<td rowspan="2">投稿</td>
						<td>通过</td>
						<td>未通过</td>
						<td>精品推荐</td>
					</tr>
					<tr>
						<td>1</td>
						<td>0</td>
						<td rowspan="5">根据任务量拿分成</td>
					</tr>
					<tr class="trcolor">
						<td rowspan="2">评论</td>
						<td>有效评论</td>
						<td>恶意评论</td>
					</tr>
					<tr class="trcolor">
						<td>1</td>
						<td>根据恶意程度扣除(1-10)</td>
					</tr>
					
					<tr>
						<td rowspan="2">邀请好友</td>
						<td>注册成功</td>
						<td>未注册</td>
					</tr>
					<tr>
						<td>20</td>
						<td>0</td>
					</tr>
                    <tr class="trcolor">
						<td>注册</td>
						<td colspan="3">注册有家笑话，成为快乐家族一员即可获得5元奖励(50笑币)</td>
					</tr>
					<tr>
						<td>分享</td>
						<td colspan="3">每日任务，分享成功可获得2元奖励(20笑币)</td>
					</tr>
					<tr class="trcolor">
						<td>签到</td>
						<td colspan="3">每日签到即可获得1笑币</td>
					</tr>
                    <tr>
						<td>笑币功能</td>
						<td colspan="3" style="text-align:left;"> 
                          <p>1、笑币可以兑换经验值，让您的升级更加快速；</p>
                          <p>2、本站会不定期推出抽奖活动，笑币可以参与抽奖；</p>
                          <p>3、本站会不定期推出笑币兑换活动，笑币可以兑换本站推出的商品；</p>
                        </td>
					</tr>
				</table>
			</dd>
		</dl>
	</div>
    <!--右侧信息结束-->
</div>
<!--主要内容结束-->
<!--底部内容开始-->
<div class="footer" th:replace="about/fankuiyijian::about_fragment_footer">
    <div class="footer-content">
        <div class="about">
            <dl>
                <dt>关于快乐家族</dt>
                <dd><a href="youjiajianjie.html" target="_blank">家族简介</a><a href="youjiagonggao.html" target="_blank">家族公告</a></dd>
                <dd><a href="mianzeshengming.html" target="_blank">免责声明</a><a href="fankuiyijian.html" target="_blank" class="a-color-red">反馈意见</a></dd>
            </dl>
            <dl>
                <dt>互动规则</dt>
                <dd><a href="tougaoguize.html" target="_blank">投稿规则</a><a href="shengaoguize.html" target="_blank">审稿规则</a></dd>
                <dd><a href="shengjiguize.html" target="_blank">升级规则</a><a href="xiaobiguize.html" target="_blank">笑币规则</a></dd>
            </dl>
            <dl>
                <dt>关注</dt>
                <dd><a href="javascript:alert('暂未开通');" target="_blank" class="footer-weibo" rel="nofollow">新浪微博</a><a href="javascript:alert('暂未开通');" target="_blank" class="footer-qzone" rel="nofollow">QQ空间</a></dd>
                <dd><a href="javascript:alert('暂未开通');" target="_blank" class="footer-QQweibo" rel="nofollow">腾讯微博</a><a href="javascript:alert('暂未开通');" target="_blank" class="footer-weixin" rel="nofollow" style="color: #03a8b1;">官方微站</a></dd>
            </dl>
            <dl class="about-contact">
                <dt>有家合作</dt>
                <dd>合作：youjiaxiaohua@163.com</dd>
            </dl>
        </div>
        <div class="coypright">
            <p>Copyright 2014-2024 youjiaxiaohua.com 版权所有 京ICP备13039142号-1 京ICP证130395号</p>
        </div>
    </div>
</div>
<!--底部内容结束-->
<!--[if IE 6]>
	<script>document.execCommand("BackgroundImageCache",false,true)</script>
<![endif]-->
<script type="text/javascript" th:inline="javascript">
    document.getElementById("xiaobiguize").className = "hover";
</script>
</body>
</html>