<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="applicable-device" content="pc"/>
    <title>笑话大全_最新搞笑图片_爆笑冷笑话_有家笑话</title>
    <meta name="description" content="有家笑话网，与千万笑友一起分享最新最热的爆笑笑话、搞笑图片、动态图、冷笑话、糗事笑话、成人笑话、经典笑话、内涵段子等笑话大全。" />
    <meta name="keywords" content="笑话,搞笑图片,冷笑话,有家笑话" />
    <link rel="stylesheet" type="text/css" href="../css/indexb6f1.css" />
    <script type="text/javascript" src="../js/ujiajoke.js"></script>
</head>
<body>
<!--头部信息开始-->
<div class="header" th:replace="detail/usercenter::index_header">
    <!--标题开始-->
    <div class="header-top">
        <div class="header-top-content">
            <p class="header-top-title">加入有家笑话，成为有家一族，成就快乐家族！</p>
            <div id="islogin" class="islogin">
                <a href="../register.html" class="top-reg" target="_blank" rel="nofollow">注册</a>
                <a href="../login.html" class="top-login loginClick" rel="nofollow">登录</a>
            </div>
        </div>
    </div>
    <!--标题结束-->
    <!--导航菜单开始-->
    <div class="header-nav">
        <div class="logo"><a href="../index.html"><h1>笑话</h1></a></div>
        <ul>
          <li> <a href="../index.html" class="hover" title="按热门程度排序">首页</a></li>
            <li><a href="../jiongtu.html" title="按时间先后排序">囧图</a></li>
            <li><a href="../qiushi.html" >糗事</a></li>
            <li><a href="../neihan.html" >内涵图</a></li>
            <li><a href="../vip/vip_index.html" >会员专享<i></i></a></li>
        </ul>
        <div class="mahua-slogan"></div>
    </div>
    <!--导航菜单结束-->
</div>
<!--头部信息结束-->
<!--主要内容开始-->
<div class="main main-view">
	<div class="left">
		<!-- 笑话 -->
		<dl class="mahua mahua-view" id="joke_905492" mahua="905492">
			<dt><h1 class="joke-title" th:text="${joke.title}">笑话标题</h1></dt>
			<dd class="content">
                <a th:href="@{'/'+${joke.jid}+'/jokeDetail.html?flag=1'}" href="#">
				    <div class="joke-content" title="点击进入下一条笑话">
                        <img th:if="${joke.style eq 1}" th:src="${joke.picture}" width="440" height="307" alt="【桃姐淘新闻】北京马拉松看醉众人" />
                        <span th:if="${joke.style eq 2}" th:text="${joke.content}">内容</span>
                    </div>
                </a>
			</dd>
			<dd class="joke-ba">
				<a href="#" class="joke-before" th:href="@{'/'+${joke.jid}+'/jokeDetail.html?flag=-1'}"></a>
				<a href="#" class="joke-after" th:href="@{'/'+${joke.jid}+'/jokeDetail.html?flag=1'}"></a>
				<p>
					<span class="joke-view-tags">笑点：<a href="../tags/6727_1.html">动态图</a></span>
					<span>提示：按 ← → 方向键也可以换笑话哦</span>
				</p>
			</dd>
			<dd class="operation">
				<a href="javascript:void(0)" rel="nofollow" class="ding" title="顶"><img src="../img/ding.png" /><i>0</i></a>
				<a href="javascript:void(0)" rel="nofollow"  class="cai" title="踩"><img src="../img/cai.png" /><i>0</i></a>
				<a href="905492.html#comment" class="comment" title="评论"><img src="../img/comment.png" /><i>0条评论</i></a>
				<div class="share">
                    <a class="share-ico" title="分享" href="javascript:void(0)" rel="nofollow"></a>
                    <div class="share-btn">
                        <span>分享到：</span>
                        <a href="javascript:alert(1);" target="_blank" class="share-qzone" data-cmd="qzone" title="分享到QQ空间" rel="nofollow">QQ空间</a>
                        <a href="javascript:alert(1);" target="_blank" class="share-tqq" data-cmd="tqq" title="分享到腾讯微博" rel="nofollow">腾讯微博</a>
                        <a href="javascript:alert(1);" target="_blank" class="share-tsina" data-cmd="tsina" title="分享到新浪微博" rel="nofollow">新浪微博</a>
                        <a href="javascript:alert(1);" target="_blank" class="share-sqq" data-cmd="sqq" title="分享到QQ好友" rel="nofollow">QQ好友</a>
                        <a href="javascript:void(0)" rel="nofollow" class="share-copy" title="复制网址" data-cmd="copy" data-url="http://www.mahua.com/xiaohua/905491.htm">复制网址</a>
                    </div>
                </div>
				<div class="buy"></div>
			</dd>
		</dl>
        <!--其它笑话开始-->
		<div id="recomment_hot" class="mahua mahua-view" style="height:350px">
			<div id="recomment_hot_1">
                <ul class="recomment-tag" style="overflow: hidden;" th:with="list=${@jokeService.getOtherJokeList(joke.jid,6)}">
                    <li class="marginbottom" th:each="us,stat :${list}" th:class="${stat.count%3 eq 0?'nomargin marginbottom':'marginbottom'}">
                        <a href="" target="_blank">
                            <img alt="" src="../img/ad.png" th:src="${us.picture}" />
                            <p th:text="${us.title}">全球最奇葩工作</p>
                        </a>
                    </li>
                </ul>
            </div>
		</div>
        <!--其它笑话结束-->
        <!--评论开始-->
		<div class="mahua comment mahua-view" id="object-comment" obj_info="36264-1" is-init="1">
          <div class="comment-input" th:if="${#authentication.getName() ne 'anonymousUser'}">
              <form id="comment">
                  <textarea name="commentcontent" id="commentcontent" class="comment-input-text" maxlength="50" placeholder="期待大神您的点评..."></textarea>
                  <p id="text-length">0/50字</p>
                  <div>
                      <p><span>发表积极有效评论,有机会赚礼品哦!</span><span class="message"></span></p>
                      <input type="button" id="commentsubmit" value="我要点评" onclick="submitFrom()" />
                  </div>

              </form>
          </div>
          <ul class="comment-list" id="comment-list">
            <li th:each="page :${pages}">
              <div class="comment-content">
                  <img src="../img/toux.jpg" th:src="${page.userInfo.photo}" th:title="${'经验值'+page.userInfo.experience}" alt="快乐家族" /><i></i>
                  <p class="comment-username"><a href="usercenter.html" th:href="@{'/'+${page.userInfo.uid}+'/userCenter.html'}" target="_blank" th:text="${page.userInfo.name}">快乐家族</a></p>
                  <p th:text="${page.content}">不看评论，我还真不知道为什么挨打。</p>
              </div>
            </li>
            <li th:if="${pages.totalPages eq 0}">
                <div class="comment-content">
                   暂无评论,赶紧抢沙发吧！
                </div>
            </li>
		  </ul>
	      <div id="pagination" class="page" th:if="${pages.totalPages ne 0}">分页</div>
        </div>
        <div class="mahua comment mahua-view" id="null-comment" obj_info="36264-1" is-init="1" th:if="${#authentication.getName() eq 'anonymousUser'}">
            <span>登陆之后才能评论<a href="../login.html" style="margin-left: 20px;color: #03a8b1;">立即登陆</a></span>
        </div>
        <!--评论结束-->
	</div>
    <!--左侧信息结束-->
    <!--右侧信息开始-->
	<div class="right" id="main-right">
		<div style="width:300px;height:250px">
			<img src="../img/ad.png"/>
		</div>
		<!-- 客户端下载 -->
        <div class="platform">
            <div class="platform-mobilePhone-web">
                <img src="../img/erweima.png" alt="m.mahua.com"/>
                <p class="title">扫二维码，用手机看麻花</p>
            </div>
            <ul class="platform-other">
                <li class="app-ios"><a href="javascript:alert('拼命研发中');" rel="nofollow" target="_blank">安装iPhone 手机客户端</a></li>
                <li class="app-android"><a href="javascript:alert(1);" rel="nofollow" target="_blank">安装Android 手机客户端</a></li>
            </ul>
        </div>
        <div style="width:300px;height:250px">
            <img src="../img/ad.png"/>
		</div>
        <div style="width:300px;height:250px;margin-top: 15px;">
            <img src="../img/ad.png"/>
		</div>
	</div>
</div>
<!--主要内容结束-->
<!--底部内容开始-->
<div class="footer" th:replace="index::index_footer">
    <div class="footer-content">
        <div class="about">
            <dl>
                <dt>关于快乐家族</dt>
                <dd><a href="../about/youjiajianjie.html" target="_blank">家族简介</a><a href="../about/youjiagonggao.html" target="_blank">家族公告</a></dd>
                <dd><a href="../about/mianzeshengming.html" target="_blank">免责声明</a><a href="../about/fankuiyijian.html" target="_blank" class="a-color-red">反馈意见</a></dd>
            </dl>
            <dl>
                <dt>互动规则</dt>
                <dd><a href="../about/tougaoguize.html" target="_blank">投稿规则</a><a href="../about/shengaoguize.html" target="_blank">审稿规则</a></dd>
                <dd><a href="../about/shengjiguize.html" target="_blank">升级规则</a><a href="../about/xiaobiguize.html" target="_blank">笑币规则</a></dd>
            </dl>
            <dl>
                <dt>关注</dt>
                <dd><a href="javascript:alert('暂未开通');" target="_blank" class="footer-weibo" rel="nofollow">新浪微博</a><a href="javascript:alert('暂未开通');" target="_blank" class="footer-qzone" rel="nofollow">QQ空间</a></dd>
                <dd><a href="javascript:alert('暂未开通');" target="_blank" class="footer-QQweibo" rel="nofollow">腾讯微博</a><a href="javascript:alert('暂未开通');" target="_blank" class="footer-weixin" rel="nofollow" style="color: #03a8b1;">官方微站</a></dd>
            </dl>
            <dl class="about-contact">
                <dt>有家合作</dt>
                <dd>合作：youjiaxiaohua@163.com</dd>
            </dl>
        </div>
        <div class="coypright">
            <p>Copyright 2014-2024 youjiaxiaohua.com 版权所有 京ICP备13039142号-1 京ICP证130395号</p>
        </div>
    </div>
</div>
<!--底部内容结束-->
<!--[if IE 6]>
	<script>document.execCommand("BackgroundImageCache",false,true)</script>
<![endif]-->
<script type="text/javascript" th:inline="javascript">
    var email=/*[[${#authentication.getName()}]]*/'';
    var jid=/*[[${joke.jid}]]*/'';
    function submitFrom() {
        var content = $.trim($("#commentcontent").val());
        if(content==""){
            $(".message").text("评论内容不能为空");
        }else{
            buttonOption(0);
            $.ajax({
                url:"../addComment.html",
                data: {"email":email,"jid":jid,"content":content},
                type: "GET",
                dataType:"text",
                timeout:18000,
                success:function(data){
                    if(data == "2"){
                        $(".message").text("已经点评过,不要重复点评");
                    }else if(data == "0"){
                        $(".message").text("点评失败,时候再试");
                        buttonOption(1);
                    }else{
                        $(".message").text("点评成功，稍后您的点评就会展现");
                    }
                },
                error: function(){ //请求失败
                    $(".message").text("点评失败,时候再试");
                    buttonOption(1);
                }
            });
        }
    }
    function buttonOption(flag) {
        if(flag == 1){
            $('#commentsubmit').show();
        }else{
            $(".message").text("正在提交点评...");
            $('#commentsubmit').hide();
        }
    }
</script>
</body>
</html>