<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="keywords" content="安卓精品,安卓软件,安卓游戏,下载" />
  <meta name="description" content="安卓精品：拥有海量免费优质安卓Android手机应用，提供极速下载，汇集最新最火热的安卓应用，好玩的安卓游戏、实用的安卓软件、每日劲爆推荐榜单，各种时下流行热门合辑等，尽在安卓精品！" />
  <meta name="baidu-site-verification" content="erwP2X4Bzj" />
  <link rel="stylesheet" type="text/css" href="css/base_341210d.css"/>
  <link rel="stylesheet" type="text/css" href="css/index_89ed6f8.css"/>
  <link rel="stylesheet" type="text/css" href="css/header_66ee3f3.css"/>
  <title>安卓精品--海量精品应用</title>
</head>
<body>
<!--头部信息开始-->
<div class="header" id="header">
  <div id="search-box" class="yui3-g search-box clearfix">
      <div class="yui3-u logo-wrapper">
        <h1 class="logo"><a href="#" title="首页">安卓精品</a></h1>
      </div>
      <div class="yui3-u">
        <form action="/s" target="_blank">
            <div class="yui3-g search-form">
                <div class="yui3-u search-input">
                    <input id="search" name="wd" maxlength="100" value="" type="search"  />
                </div>
                <div class="yui3-u">
                    <input type="submit" class="submit" value="搜索" />
                </div>
            </div>
        </form>
      </div>
  </div>
</div>
<!--头部信息结束-->
<div id="doc">
<!--精品专题开始-->
<div class="sec-topic clearfix">
    <div class="head">
        <div class="name"><h2>精品专辑</h2></div>
    </div>
    <div class="topic-list">
        <div class="slide-over">
            <ul class="slide-list-wrap">
                <li th:each="jp:${jpList}">
                    <a href="#" th:href="${jp.adUrl}" class="tjitem" title="生活要有点新意" th:title="${jp.adTitle}">
                        <img src="#" th:src="${jp.adPhoto}" class="imagefix" />
                    </a>
                </li>
            </ul>
        </div>
        <div class="slide-prev slide-nav"><a href="javascript:void(0)" hidefocus="true"></a></div>
        <div class="slide-next slide-nav"><a href="javascript:void(0)" hidefocus="true"></a></div>
    </div>
</div>
<!--精品专题结束-->
<!--手机必备应用开始-->
<div class="sec-app sec-soft" id="software">
    <div class="yui3-u board-app">
      <div class="cate-name">
          <h2><span style="color: #03a8b1;">手机必备应用</span></h2>
          <!--<a class="change-page" href="javascript:void(0)">更多</a>-->
      </div>
      <div class="bd big-app-wrap">
        <div class="app-wrap cur clearfix">
           <div class="app-bd show">
             <ul th:with="list=${@adService.getTopAdListByStyle(12,2)}">
                <li th:each="ad:${list}">
                    <a class="app-box" href="#" th:href="${ad.adUrl}">
                      <div class="app-detail">
                          <div class="icon">
                              <img class="imagefix" src="img/timg.jpg" alt="开卷有益" th:src="${ad.adPhoto}" th:alt="${ad.adTitle}" />
                              <div class="mask mask1 mask-110"></div>
                          </div>
                          <p class="name" th:text="${ad.name}">开卷有益</p>
                          <p class="down-size">
                              <span class="down" th:text="${ad.down+'下载'}">678万下载</span>
                              <span class="size" th:text="${ad.size}">5.4MB</span>
                          </p>
                      </div>
                      <div class="app-popover" style="top: 770px; left: 780px;">
                          <div class="appinfo clearfix">
                              <div class="appinfo-left">
                                  <p class="name" th:text="${ad.name}">开卷有益</p>
                                  <p class="tag">
                                      <span class="res-tag-ok">安全免费</span>
                                      <span class="res-tag-ok">优质</span>
                                  </p>
                                      <p class="star-wrap"><span class="star"><span style="width:92%"></span></span></p>
                                  <p class="down-size">
                                      <span class="down" th:text="${ad.down+'下载'}">678万下载</span>
                                      <span class="size" th:text="${ad.size}">5.4MB</span>
                                  </p>
                              </div>
                              <div class="appinfo-right">
                                  <p><img class="app-qrcode wsqrcode app-qrcode-ws" th:src="${'http://zhushou.baidu.com:80/qrcode/?text='+ad.adUrl}" /></p>
                              </div>
                          </div>
                          <p class="brief"><span class="comm">[小编评语]</span><span th:text="${ad.content}">迅读引擎能够轻松读取百M文档，独家动态智能排版技术，即看即排。文档虐我千百遍，我待文档如初恋</span></p>
                      </div>
                	</a>
                </li>
             </ul>
           </div>
        </div>
      </div>
    </div>
</div>
<!--手机必备应用结束-->
<!--游戏开始-->
<div class="sec-app sec-soft" id="game">
    <div class="yui3-u board-app">
        <div class="cate-name">
            <h2><span style="color: #DF7ADE">爱玩游戏</span></h2>
            <!--<a class="change-page" href="javascript:void(0)">更多</a>-->
        </div>
        <div class="bd big-app-wrap">
            <div class="app-wrap cur clearfix">
                <div class="app-bd show">
                    <ul th:with="list=${@adService.getTopAdListByStyle(24,3)}">
                        <li th:each="ad:${list}">
                            <a class="app-box" href="#" th:href="${ad.adUrl}">
                                <div class="app-detail">
                                    <div class="icon">
                                        <img class="imagefix" src="img/timg.jpg" alt="开卷有益" th:src="${ad.adPhoto}" th:alt="${ad.adTitle}" />
                                        <div class="mask mask1 mask-110"></div>
                                    </div>
                                    <p class="name" th:text="${ad.name}">开卷有益</p>
                                    <p class="down-size">
                                        <span class="down" th:text="${ad.down+'下载'}">678万下载</span>
                                        <span class="size" th:text="${ad.size}">5.4MB</span>
                                    </p>
                                </div>
                                <div class="app-popover" style="top: 770px; left: 780px;">
                                    <div class="appinfo clearfix">
                                        <div class="appinfo-left">
                                            <p class="name" th:text="${ad.name}">开卷有益</p>
                                            <p class="tag">
                                                <span class="res-tag-ok">安全免费</span>
                                                <span class="res-tag-ok">优质</span>
                                            </p>
                                            <p class="star-wrap"><span class="star"><span style="width:92%"></span></span></p>
                                            <p class="down-size">
                                                <span class="down" th:text="${ad.down+'下载'}">678万下载</span>
                                                <span class="size" th:text="${ad.size}">5.4MB</span>
                                            </p>
                                        </div>
                                        <div class="appinfo-right">
                                            <p><img class="app-qrcode wsqrcode app-qrcode-ws" th:src="${'http://zhushou.baidu.com:80/qrcode/?text='+ad.adUrl}" /></p>
                                        </div>
                                    </div>
                                    <p class="brief"><span class="comm">[小编评语]</span><span th:text="${ad.content}">迅读引擎能够轻松读取百M文档，独家动态智能排版技术，即看即排。文档虐我千百遍，我待文档如初恋</span></p>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--游戏结束-->
<!--神友推荐开始-->
<div class="sec-app sec-soft" id="shenyou">
    <div class="yui3-u board-app">
        <div class="cate-name">
            <h2><span>神友推荐</span></h2>
            <!--<a class="change-page" href="javascript:void(0)">更多</a>-->
        </div>
        <div class="bd big-app-wrap">
            <div class="app-wrap cur clearfix">
                <div class="app-bd show">
                    <ul th:with="list=${@adService.getTopAdListByStyle(24,3)}">
                        <li th:each="ad:${list}">
                            <a class="app-box" href="#" th:href="${ad.adUrl}">
                                <div class="app-detail">
                                    <div class="icon">
                                        <img class="imagefix" src="img/timg.jpg" alt="开卷有益" th:src="${ad.adPhoto}" th:alt="${ad.adTitle}" />
                                        <div class="mask mask1 mask-110"></div>
                                    </div>
                                    <p class="name" th:text="${ad.name}">开卷有益</p>
                                    <p class="down-size">
                                        <span class="down" th:text="${ad.down+'下载'}">678万下载</span>
                                        <span class="size" th:text="${ad.size}">5.4MB</span>
                                    </p>
                                </div>
                                <div class="app-popover" style="top: 770px; left: 780px;">
                                    <div class="appinfo clearfix">
                                        <div class="appinfo-left">
                                            <p class="name" th:text="${ad.name}">开卷有益</p>
                                            <p class="tag">
                                                <span class="res-tag-ok">安全免费</span>
                                                <span class="res-tag-ok">优质</span>
                                            </p>
                                            <p class="star-wrap"><span class="star"><span style="width:92%"></span></span></p>
                                            <p class="down-size">
                                                <span class="down" th:text="${ad.down+'下载'}">678万下载</span>
                                                <span class="size" th:text="${ad.size}">5.4MB</span>
                                            </p>
                                        </div>
                                        <div class="appinfo-right">
                                            <p><img class="app-qrcode wsqrcode app-qrcode-ws" th:src="${'http://zhushou.baidu.com:80/qrcode/?text='+ad.adUrl}" /></p>
                                        </div>
                                    </div>
                                    <p class="brief"><span class="comm">[小编评语]</span><span th:text="${ad.content}">迅读引擎能够轻松读取百M文档，独家动态智能排版技术，即看即排。文档虐我千百遍，我待文档如初恋</span></p>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--神友推荐结束-->
<!--底部开始-->
<div class="footer">
    <a class="fanva" href="http://white.anva.org.cn"></a>
    <ul>
        <li><a href="http://www.baidu.com/" target="_blank">百度首页</a></li>
        <li class="split">|</li>
        <li><a href="/mobres/static?declare" target="_blank">免责声明</a></li>
        <li class="split">|</li>
        <li><a href="/mobres/static?contact" target="_blank">联系我们</a></li>
    </ul>
    <p>&copy;2015 Baidu 使用百度前必读 京ICP证030173号</p>
</div>
<!--底部结束-->
</div>
<p>
  <script type="text/javascript" src="js/jquery_0affbc1.js"></script>
  <script type="text/javascript" src="js/base_298951d.js"></script>
  <script type="text/javascript" src="js/apphover_e805b44.js"></script>
</p>
</body>
</html>



